---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Diciembre 2020 - Actualmente",
    title: "Frontend Developer",
    company: "Ministerio de las Mujeres, Géneros y Diversidades",
    description:
      "Biblioteca Digital: - Implementación de DSpace para cumplir con los requisitos del proyecto de una biblioteca digital, asegurando coherencia visual y accesibilidad. Desarrollo con bibliotecas como Bootstrap y Sass. Administración de entornos de desarrollo y producción con Docker.",
    link: "https://editorial.mingeneros.gob.ar/",
  },
  {
    date: "Octubre 2019 - Noviembre 2020",
    title: "Frontend Developer",
    company: "Dos monos (Email Marketing)",
    description:
      "Rediseño de UI/UX de herramientas internas: Trabajé en estrecha colaboración con desarrolladores backend y equipo de marketing para implementar nuevas funcionalidades y mejoras en las herramientas internas, asegurando una experiencia optimizada y mejorando la eficiencia en la toma de decisiones de campañas de marketing.",
    link: "",
  },
  {
    date: "Marzo 2021",
    title: "Sitio Web",
    company: "Graphique.com.ar",
    description:
      "Desarrollé este sitio web para Graphique, trabajando mano a mano con los dueños para entender sus necesidades y objetivos. Utilicé tecnologías como HTML, CSS y JavaScript para construir una interfaz intuitiva y visualmente impactante. Me enfoqué en ofrecer una experiencia de usuario fluida y aseguré que el diseño reflejara la creatividad de la marca. También implementé buenas prácticas de accesibilidad y optimización para mejorar el rendimiento general del sitio.",
    link: "https://graphique.com.ar/",
  },
  {
    date: "Abril 2021 - Abril 2024",
    title: "Gestión de Negocio",
    company: "Veva Underwear",
    description:
      "Diseño de identidad visual: Creación de la marca desde cero, incluyendo el diseño del logotipo, paleta de colores y tipografía para establecer una identidad visual coherente y atractiva.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
