<footer
  class="rounded-lg bg-white/20 backdrop-blur-lg w-full xl:w-[740px] mx-auto mb-10 mt-8"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center"
  >
    <span class="text-sm text-gray-300 sm:text-center dark:accent-orange"
      >Noelia© 2024 Hecho con ♥.
    </span>
  </div>
</footer>
